<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Adult Adhd - Bonanza Care</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="slick-theme.css?v2022">
<link type="text/css" rel="stylesheet" href="style.css" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>

</head>
<body>

	<div class="header_main">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 left_head_menu">
					<div class="site_logo">
						<a href="index.html" class="site_url">
							<img src="images/logo-dark.png" />
						</a>
					</div>
				</div>
				<div class="col-md-6 right_hand_menu">
					<div class="header_right_menu_wrap">
						<ul class="header_right_menu">
							<li>
								<a href="about-us.html" target="_blank">About us</a>
							</li>
							<li>
								<a href="#" target="_blank">Locate Us</a>
							</li>
								<li>
								<a href="#" target="_blank">Language</a>
							</li>
							
							<li>
								<a href="#" target="_blank">Login</a>
							</li>
						</ul>
					</div>
					<button type="button" class="menu_btn"><img src="images/mob-menubar.svg"></button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mobile_menu">
		<div class="mobile_menu_wrap">
					<div class="menu_close"><img src="images/menu-close-icon.svg"></div>
			<ul class="header_right_menu">
				<li>
					<a href="about-us.html" target="_blank">About us</a>
				</li>
					<li>
								<a href="#" target="_blank">Locate Us</a>
							</li>
								<li>
								<a href="#" target="_blank">Language</a>
							</li>
				
				<li>
					<a href="#" target="_blank">Login</a>
				</li>
			</ul>
		</div>
	</div>

<div class="terms">
    <div class="overview-bg">
        <div class="content card-view-lg">
            <div class="xlTxt m-t-10 m-b-20 light-bold">Do you need to get help from a mental health specialist to manage Adult ADHD?</div>
            <div class="text-light light-white-color lgTxt">ADHD can be a challenging condition to live with, but our mental health professionals can help. They can help you learn how to deal with your ADHD symptoms, and help you live a healthy and productive life.</div>
        </div>
    </div>
    <div class="container">
        <section class="clearfix">
            <div class="row align-items-center">
                <div class="col-md-8 text-center offset-md-2 mb-4">
					<div class="bold xlTxt m-b-20">This is what the symptoms of ADHD can look like...</div>
				</div>
                <div class="col-md-6 text-center">
					<img src="images/ahdh.png" />
				</div>
                <div class="col-md-6">
					<ul class="benefits">
						<li>Some children have trouble paying attention and staying still, which can lead to problems with impulsivity</li>
						<li>When someone is talking, it can be hard to stay focused on what they're saying. Sometimes, this can be because we're struggling to hear them.</li>
						<li>Some people have trouble focusing and organising their thoughts. This can make it hard to get done what you need to, and can be frustrating.</li>
						<li>Some people find it hard to manage their time effectively. This can make it hard to do things that you want to do, or to meet your commitments.</li>
						<li>If you can't remember something, it's called forgetfulness. Sometimes it's easy to remember something, but sometimes it's hard to remember.</li>
						<li>It can be hard to relax when you're stressed, but there are some things you can do to make it easier.</li>
					</ul>
				</div>
			</div>
		</section>
		
        <section class="clearfix">
            <div class="row">
                <div class="col-md-8 text-center offset-md-2 mb-4">
					<div class="bold xlTxt m-b-20 text-center">Try the Bonanza Care approach to ADHD treatment</div>
					<p class="m-b-15 light-bold mdTxt text-center">ADHD is a disorder that can be mistaken for laziness or seen as a character flaw. Based on our clinical expertise and the latest science, we have created a program that will help manage ADHD.</p>
				</div>
                <div class="col-md-12">
                    <div class="at-home-menu">
						<ul id="menu-at-home" class="hover-know-more box_25">
							<li class="menu-item">
								<a class="" href="#">
									<img class="img-responsive center-block" src="images/icon-consult.svg" alt="">
									<h3 class="text-center bold-text">Consult a psychiatrist</h3>
								</a>
								<p class="text-center grey-text">Our team of experts will take the time to understand your concerns thoroughly and create a treatment plan that is specifically tailored to your needs.</p>
							</li>
							<li class="menu-item">
								<a class="" href="#">
									<img class="img-responsive center-block" src="images/icon-talk.svg" alt="">
									<h3 class="text-center bold-text">Talk to a therapist</h3>
								</a>
								<p class="text-center grey-text">Our therapists will help you learn more effective ways to cope with your ADHD symptoms, and give you more time to do what you enjoy.</p>
							</li>
							<li class="menu-item">
								<a class="" href="#">
									<img class="img-responsive center-block" src="images/icon-community.svg" alt="">
									<h3 class="text-center bold-text">Access self-care tools</h3>
								</a>
								<p class="text-center grey-text">Our tools are designed to be easy to use and help you get the job done.</p>
							</li>
							<li class="menu-item">
								<a class="" href="#">
									<img class="img-responsive center-block" src="images/icon-community.svg" alt="">
									<h3 class="text-center bold-text">Join the Community</h3>
								</a>
								<p class="text-center grey-text">Do you have ADHD? join our community and learn from others who have the condition. You'll learn tips on how to manage it effectively.</p>
							</li>
						</ul>
					</div>
                </div>
            </div>
        </section>
		
		
		
        <section class="clearfix">
            <div class="row align-items-center">
                <div class="col-md-8 text-center offset-md-2 mb-4">
					<div class="bold xlTxt m-b-20 text-center">Choose an ADHD treatment option that works for you</div>
					<p class="m-b-15 light-bold mdTxt text-center">We are here to help you through whatever you might need, from the beginning to the end.</p>
				</div>
                <div class="col-md-6">
					<div class="bold xlTxt m-b-20">Speak to an Bonanza Care Psychiatrist</div>
					<ul class="benefits">
						<li>A doctor will look at your symptoms and see if they match a specific condition, like ADHD. This will help them provide you with a more accurate diagnosis and treatment plan.</li>
						<li>To help you manage inattentiveness and impulsivity, a personalised treatment plan will include any needed medication support.</li>
						<li>You can keep your prescriptions up to date by renewing them easily online.</li>
					</ul>
				</div>
                <div class="col-md-6 text-center">
					<div class="team_row">
						<div class="team_col">
							<div class="team_user">
								<img src="images/doctor-default.jpg
" />
							</div>
							<div class="team_ttl">Dr Sudheendra H</div>
							<div class="team_desc">Next available slot: 7th Dec</div>
						</div>
						<div class="team_col">
							<div class="team_user">
								<img src="images/doctor-default.jpg
" />
							</div>
							<div class="team_ttl">Dr Divya G</div>
							<div class="team_desc">Next available slot: 7th Dec</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
        <section class="clearfix">
            <div class="row align-items-center">
				
                <div class="col-md-6 text-center">
					<div class="team_row">
						<div class="team_col">
							<div class="team_user">
								<img src="images/doctor-default.jpg
" />
							</div>
							<div class="team_ttl">Nidhi S</div>
							<div class="team_desc">Next available slot: 7th Dec</div>
						</div>
						<div class="team_col">
							<div class="team_user">
								<img src="images/doctor-default.jpg
" />
							</div>
							<div class="team_ttl">Lidia F</div>
							<div class="team_desc">Next available slot: 7th Dec</div>
						</div>
						<div class="team_col">
							<div class="team_user">
								<img src="images/doctor-default.jpg
" />
							</div>
							<div class="team_ttl">Nikita B</div>
							<div class="team_desc">Next available slot: 7th Dec</div>
						</div>
						<div class="team_col">
							<div class="team_user">
								<img src="images/doctor-default.jpg
" />
							</div>
							<div class="team_ttl">Parth K</div>
							<div class="team_desc">Next available slot: 7th Dec</div>
						</div>
					</div>
				</div>
                <div class="col-md-6">
					<div class="bold xlTxt m-b-20">Let an Bonanza Care Therapist help you</div>
					<ul class="benefits">
						<li>We have experts who can help you if you have ADHD.</li>
						<li>You can use tools recommended by your therapist to help you stay connected and supported between sessions.</li>
						<li>By tracking your mental health over time, you'll be able to see how your symptoms are changing. This will help you understand how you're doing and help you stay on track.</li>
					</ul>
				</div>
			</div>
		</section>
		
		
        <section class="clearfix">
            <div class="row align-items-center">
               
                <div class="col-md-6">
					<div class="bold xlTxt m-b-20">Access personalised self-care with the Bonanza Care App</div>
					<ul class="benefits">
						<li>We have created a personalised self-care plan to help you reduce stress, manage anxiety and feel better overall. With 500 activities, you will be able to find what works best for you.</li>
						<li>If you need help right away, you can talk to our chatbot, Allie. She's available 24/7 to answer any questions you have.</li>
						<li>You can use our goal tracker to help you stay on track with your goals, and our mood tracker to help you stay aware of your emotions.</li>
					</ul>
				</div>
                <div class="col-md-6 text-center">
					<img src="images/self-care-visual.svg" />
				</div>
			</div>
		</section>
    </div>
			
	<section class="clearfix bg-section" style="background:rgb(252, 236, 232);">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 text-center">
					<img src="images/care.png" style="width:50%;"/>
				</div>
				<div class="col-md-6">
					<div class="bold xlTxt m-b-20">Not sure what kind of care you need?</div>
					<div class="text-dark lgTxt">Mental health is a journey, and the first step is finding the right treatment. A Mental Health Coach can help you find the best possible treatment for you, based on your specific needs.</div>
				</div>
			</div>
		</div>
	</section>
		
        <section class="clearfix" >
            <div class="container">
				<div class="row">
					<div class="col-md-8 text-center offset-md-2 mb-4">
						<div class="bold xlTxt m-b-20">Your questions about ADHD, answered</div>
					</div>
					
					<div class="col-md-8 offset-md-2">
						<div class="accordion" id="accordionExample">
						  <div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
							  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									What are the types of ADHD?
							  </button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							  <div class="accordion-body">
									<div class="text-dark mdTxt mb-3">There are three major types of ADHD:</div>
									
									<div class="text-dark mdTxt mb-3"><strong>ADHD combined type:</strong> ADHD is a condition that involves problems with paying attention, being hyperactive and being impulsive.</div>
									
									<div class="text-dark mdTxt mb-3"><strong>ADHD impulsive/hyperactive type:</strong> : ADHD is a disorder that affects the way a person behaves. People with this type of ADHD have a lot of impulsiveness and hyperactivity, which can make it hard for them to stay focused or sit still.</div>
									
									<div class="text-dark mdTxt"><strong>ADHD inattentive and distractible type:</strong> ADHD is a disorder that affects the way a person behaves. People with this type of ADHD have a lot of impulsiveness and hyperactivity, which can make it hard for them to stay focused or sit still.</div>
							  </div>
							</div>
						  </div>
						  <div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
							  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									What are the causes of ADHD?
							  </button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							  <div class="accordion-body">
									<div class="text-dark mdTxt mb-3">There is still not a clear answer as to what causes ADHD, however it is believed to be partly due to genetics, as well as the environment in which a person is raised. Some aspects that may play a role during prenatal development, such as problems during the first three months of a mother's pregnancy, have also been noted. However, ADHD is not simply a character flaw or laziness - it is a mental health disorder, and you should be compassionate with yourself if you have it. ADHD can be managed with the right support, and you can live a full and normal life with it.</div>
							  </div>
							</div>
						  </div>
						  <div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
							  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									What are the signs and symptoms of ADHD?
							  </button>
							</h2>
							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							  <div class="accordion-body">
									<div class="text-dark mdTxt">It may be hard for you to focus on things, to plan or to follow through with tasks. You may also find it hard to remember things, and you may often lose things. You may have a hard time controlling your impulses, and you may rush through tasks. You may also have a hard time listening and following instructions. You may sometimes have trouble sleeping or relaxing. You may be more active than usual, and you may have trouble sitting still. You may sometimes have trouble completing tasks. You may be more likely to act without thinking things through, and you may get angry easily. You may also have problems with your moods and with your relationships.</div>
								</div>
							</div>
						  </div>
						  <div class="accordion-item">
							<h2 class="accordion-header" id="headingfour">
							  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
									How can ADHD affect life in general?
							  </button>
							</h2>
							<div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<div class="text-dark mdTxt">ADHD can cause problems in your life, like not doing well in school, not being able to find a job, and getting in trouble with the law.</div>
									
									
							  </div>
							</div>
						  </div>
						  <div class="accordion-item">
							<h2 class="accordion-header" id="headingfive">
							  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
									Can ADHD co-exist with other mental health disorders?
							  </button>
							</h2>
							<div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<div class="text-dark mdTxt mb-3">ADHD is often co-occurring with other mental health disorders, which makes diagnosis and treatment more difficult. Some of the disorders that ADHD may co-occur with include mood disorders, anxiety disorders, and other psychiatric disorders. Adults with ADHD are at increased risk of other mental health disorders, like personality disorders and addictions.</div>
									
							  </div>
							</div>
						  </div>
						</div>
					</div>
				</div>
            </div>
        </section>
</div>


<footer name="footer" ui-view="footer">
    <div id="footerView" class="background">
        <dom-manipulation></dom-manipulation>
        <div ng-if="hideHeaderFooterForMobile &amp;&amp; displayFooter" class="footer container-full">
            <div class="container wrap">
                <div class="row display-flex foot">
                    <div class="pd col-xs-3 col-sm-3">
                        <div class="m-b-10 light-bold smdTxt">Bonanza Care Services</div>
                        <a href="#" title="About MediBuddy Gold"><span >Ashvins e-Pass</span></a>
						
						<a href="/online-doctor-consultation" title="Book Consultation Appointments with trusted Doctors"><span >Doctor Consultation</span></a>
						<a href="/online-doctor-consultation" title="Book Consultation Appointments with trusted Doctors"><span >Bonanza Hope (For Critical Cases)</span></a>
						<a href="/labs/" title="Book online Lab Tests with Home Sample Collection"><span >Book a Lab test</span></a>
						<a href="/labs/" title="Book online Lab Tests with Home Sample Collection"><span >Instant Doctor Opinion</span></a>
							<a href="/labs/" title="Book online Lab Tests with Home Sample Collection"><span >Corporate Wellness Plan</span></a>
								<a href="/labs/" title="Book online Lab Tests with Home Sample Collection"><span >View Your Health Records</span></a>
						
                    </div>
                    <div class="si col-xs-3 col-sm-3">
                        <div class="m-b-10 light-bold smdTxt">Hospitalization</div>
                        <a href="/about-hospitalization" title="Plan your Hospitalization with MediBuddy"><span >Plan hospitalization</span></a><a href="/networkHospitals" title="Network Hospitals covered by each Insurer"><span > Locate hospital</span></a>
                     
                        <a href="https://m.medibuddy.in/intimatereimbursement.aspx" title="Intimate Claim" target="_blank" rel="noopener nofollow"><span >Plan Surgery </span></a><a href="/claim" ng-if="user | isEmpty" title="Track Claim Status"><span > Intimate Claim</span></a><a href="/claim" ng-if="user | isEmpty" title="Track Claim Status"><span > Track claim</span></a><a href="/faq/" title="Frequently Asked Questions"><span > FAQs</span></a>
                    </div>
                    <div class="at col-xs-3 col-sm-3">
                        <div class="m-b-10 light-bold smdTxt">ABOUT BONANZA CARE</div>
                        <a href="/aboutus/" title="hey"><span >Overview</span></a><a href="/testimonials" title="Testimonials"><span > Testimonials</span></a><!-- ngIf: notHideContactus --><a ng-if="notHideContactus" href="/contactus/" title="Contact us - Send your Queries"><span > Contact</span></a><!-- end ngIf: notHideContactus --><a href="#" target="_blank" title="Blog Articles" rel="noopener"><span > Blog</span></a><a href="#" target="_blank" title="Join us" rel="noopener"><span > Careers</span></a><a href="terms.html" target="_blank" title="security"><span > Terms of use</span></a>
                    </div>
                    <div class="si col-xs-3 col-sm-3">
                        <div class="m-b-10 light-bold smdTxt">Bonanza Care Registration</div>
                        <a href="/aboutus/" title="hey"><span >For Doctors</span></a><a href="/testimonials" title="Testimonials"><span > For Patients</span></a><!-- ngIf: notHideContactus --><a ng-if="notHideContactus" href="/contactus/" title="Contact us - Send your Queries"><span > For clinics</span></a><a ng-if="notHideContactus" href="/contactus/" title="Contact us - Send your Queries"><span > For Hospitals</span></a><!-- end ngIf: notHideContactus -->
                    </div>
                    <div ng-class="{'p-l-0 p-r-0 m-t-0':isMobileView}" class="links col-xs-12 col-sm-2 d-flex">
                        
                       <!-- <div class="social d-flex col-3">
                            <span class="label">Download app</span>
                            <a ng-click="appRedirect('FirstFold')" target="_blank" rel="noopener" uib-tooltip="Android" aria-label="Android">
                                <svg version="1.1" id="footer_Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve">
                                    <polygon style="fill:#5CDADD" points="29.53,0 29.53,251.509 29.53,512 299.004,251.509 "></polygon>
                                    <polygon style="fill:#BDECC4" points="369.067,180.547 262.175,119.467 29.53,0 299.004,251.509 "></polygon>
                                    <polygon style="fill:#DC68A1" points="29.53,512 29.53,512 262.175,383.551 369.067,322.47 299.004,251.509 "></polygon>
                                    <path style="fill:#FFCA96" d="M369.067,180.547l-70.063,70.961l70.063,70.961l108.688-62.877c6.288-3.593,6.288-11.677,0-15.27 L369.067,180.547z"></path>
                                </svg>
                            </a>
                            <a ng-click="appRedirect('FirstFold',true)" rel="noopener" uib-tooltip="IOS" aria-label="IOS">
                                <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 291.538 291.538" style="enable-background:new 0 0 291.538 291.538" xml:space="preserve">
                                    <g>
                                        <path style="fill:#fff" d="M188.373,44.308c10.97-11.744,18.39-28.049,16.359-44.308c-15.804,0.564-34.958,9.277-46.302,21.02 c-10.169,10.396-19.072,27.011-16.696,42.951C159.369,65.164,177.385,56.033,188.373,44.308z M222.03,156.593 c-0.337-36.451,28.859-53.958,30.152-54.804c-16.414-24.753-41.977-28.14-51.081-28.522c-21.767-2.285-42.442,13.182-53.493,13.182 c-11.006,0-28.03-12.882-46.083-12.536c-23.733,0.391-45.601,14.211-57.79,36.114C19.081,154.09,37.416,219.363,61.44,255.104 c11.744,17.497,25.727,37.125,44.089,36.415c17.725-0.71,24.407-11.789,45.792-11.789c21.394,0,27.384,11.789,46.101,11.434 c19.045-0.355,31.098-17.834,42.742-35.386c13.473-20.292,19.027-39.938,19.345-40.93 C259.1,214.611,222.421,200.182,222.03,156.593z"></path>
                                    </g>
                                </svg>
                            </a>
                        </div> -->
                      <!--  <div class="  d-flex col-3 "></div> -->
                        <div class="social col-12 text-center ">
                            <span class="label">FOLLOW US</span>
                            <a href=" https://www.facebook.com/BonanzaCare" target="_blank" rel="noopener" uib-tooltip="Facebook" aria-label="Facebook" class="facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1759 -421 16.1 32">
                                    <defs>
                                        <style>.facebook{fill:#385c8e;}</style>
                                    </defs>
                                    <path class="facebook" d="M.5,17H4V31.4a.562.562,0,0,0,.5.6h5.9a.472.472,0,0,0,.5-.5V17.1h4a.472.472,0,0,0,.5-.5l.6-5.3a.6.6,0,0,0-.1-.4.52.52,0,0,0-.4-.2H11V7.4c0-1,.5-1.5,1.6-1.5h3a.472.472,0,0,0,.5-.5V.5a.472.472,0,0,0-.5-.5H11.2A7.681,7.681,0,0,0,6,2,5.351,5.351,0,0,0,4.2,6.9v3.9H.5a.472.472,0,0,0-.5.5v5.2A.472.472,0,0,0,.5,17Z" transform="translate(1759 -421)"></path>
                                </svg>
                            </a>
                            <a href="https://www.linkedin.com/company/bonanza-care/" target="_blank" rel="noopener" uib-tooltip="LinkedIn" aria-label="LinkedIn" class="linkedin">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1826 -424 31.906 31.9">
                                    <defs>
                                        <style>.linkedin{fill:#5082f6;}</style>
                                    </defs>
                                    <g transform="translate(1826 -424)">
                                        <path class="a" d="M7.4,10.3H1a.472.472,0,0,0-.5.5V31.4a.472.472,0,0,0,.5.5H7.4a.472.472,0,0,0,.5-.5V10.8C8,10.5,7.7,10.3,7.4,10.3Z"></path>
                                        <path class="linkedin" d="M4.2,0A4.225,4.225,0,0,0,0,4.2,4.225,4.225,0,0,0,4.2,8.4,4.225,4.225,0,0,0,8.4,4.2,4.1,4.1,0,0,0,4.2,0Z"></path>
                                        <path class="linkedin" d="M23.8,9.7a7.192,7.192,0,0,0-5.6,2.4V10.8a.472.472,0,0,0-.5-.5H11.5a.472.472,0,0,0-.5.5V31.4a.472.472,0,0,0,.5.5h6.4a.472.472,0,0,0,.5-.5V21.2c0-3.4.9-4.8,3.3-4.8,2.6,0,2.8,2.1,2.8,5v10a.472.472,0,0,0,.5.5h6.4a.472.472,0,0,0,.5-.5V20.1C32,15,31,9.7,23.8,9.7Z"></path>
                                    </g>
                                </svg>
                            </a>
                            <a href=" https://twitter.com/bonanzacare" target="_blank" rel="noopener" uib-tooltip="Twitter" aria-label="Twitter" class="twitter">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1909 -418 32.014 26.2">
                                    <defs>
                                        <style>.twitter{fill:#73a1fb;}</style>
                                    </defs>
                                    <path class="twitter" d="M31.3,3l-1.5.6a7.217,7.217,0,0,0,1.4-2.4c.1-.2,0-.4-.2-.6a.638.638,0,0,0-.6,0A17.832,17.832,0,0,1,26.8,2,7.177,7.177,0,0,0,22,0a6.914,6.914,0,0,0-6.9,6.9,2.769,2.769,0,0,0,.1.9A18.107,18.107,0,0,1,3.1,1.4c-.1-.2-.3-.2-.5-.2s-.3.1-.4.3A6.756,6.756,0,0,0,1.3,5,7.266,7.266,0,0,0,2.9,9.5,4.7,4.7,0,0,0,2,8.9a.446.446,0,0,0-.5,0,.55.55,0,0,0-.3.5v.1a6.724,6.724,0,0,0,3.4,5.9.9.9,0,0,1-.5-.1c-.2,0-.4,0-.5.2a.44.44,0,0,0-.1.5,7.013,7.013,0,0,0,5,4.6A12.33,12.33,0,0,1,2,22.5a7.569,7.569,0,0,1-1.5-.1c-.2,0-.5.1-.5.3a.481.481,0,0,0,.2.6,18.767,18.767,0,0,0,10,2.9A17.631,17.631,0,0,0,24,20.1,19.3,19.3,0,0,0,28.8,7.6V7a13.964,13.964,0,0,0,3.1-3.3.637.637,0,0,0,0-.6A.661.661,0,0,0,31.3,3Z" transform="translate(1909.039 -418)"></path>
                                </svg>
                            </a>
                            <a href="#" target="_blank" rel="noopener" uib-tooltip="Blog" aria-label="Blog">
                                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <defs>
                                        <style>.blog1{fill:#010002;}</style>
                                    </defs>
                                    <title>blog</title>
                                    <path class="blog1" d="M227.21,227.2v6.13A25.88,25.88,0,0,1,253,259.2h6.16A32,32,0,0,0,227.21,227.2Z" transform="translate(-227.2 -227.2)"></path>
                                    <path class="blog1" d="M227.2,238.07v6.13a15,15,0,0,1,15,15h6.16A21.15,21.15,0,0,0,227.2,238.07Z" transform="translate(-227.2 -227.2)"></path>
                                    <path class="blog1" d="M231.46,250.66a4.25,4.25,0,1,0,4.26,4.25A4.26,4.26,0,0,0,231.46,250.66Z" transform="translate(-227.2 -227.2)"></path>
                                </svg>
                            </a>
                          <a href="https://www.youtube.com/channel/UCSrr1PAxg-yPbFlC7Ly8KNQ" target="_blank" rel="noopener" uib-tooltip="Blog" aria-label="youtube" style="width: 35px;">  <img  src="images/youtube.png" ></a>
                           <a href="https://www.instagram.com/bonanzacare/" target="_blank" rel="noopener" uib-tooltip="Blog" aria-label="insta" style="width: 30px;">  <img  src="images/insta.png" ></a>
                        </div>
                        <!-- ngIf: !isMobileView -->
                        
                        <!-- end ngIf: !isMobileView -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end ngIf: hideHeaderFooterForMobile && displayFooter -->
    </div>
</footer>

<!-- JavaScript Bundle with Popper -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/custom.js" type="text/javascript" charset="utf-8"></script>


</body>
</html>