<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>MEDICAL VISA TO INDIA - Bonanza Care</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="slick-theme.css?v2022">
<link type="text/css" rel="stylesheet" href="style.css" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>

</head>
<body>

	<div class="header_main">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 left_head_menu">
					<div class="site_logo">
						<a href="index.html" class="site_url">
							<img src="images/logo-dark.png" />
						</a>
					</div>
				</div>
				<div class="col-md-6 right_hand_menu">
					<div class="header_right_menu_wrap">
						<ul class="header_right_menu">
							<li>
								<a href="about-us.html" target="_blank">About us</a>
							</li>
							<li>
								<a href="#" target="_blank">Locate Us</a>
							</li>
								<li>
								<a href="#" target="_blank">Language</a>
							</li>
							
							<li>
								<a href="#" target="_blank">Login</a>
							</li>
						</ul>
					</div>
					<button type="button" class="menu_btn"><img src="images/mob-menubar.svg"></button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mobile_menu">
		<div class="mobile_menu_wrap">
					<div class="menu_close"><img src="images/menu-close-icon.svg"></div>
			<ul class="header_right_menu">
				<li>
					<a href="about-us.html" target="_blank">About us</a>
				</li>
					<li>
								<a href="#" target="_blank">Locate Us</a>
							</li>
								<li>
								<a href="#" target="_blank">Language</a>
							</li>
				
				<li>
					<a href="#" target="_blank">Login</a>
				</li>
			</ul>
		</div>
	</div>

<div class="terms">
    <div class="overview-bg">
        <div class="content card-view-lg">
            <div class="xlTxt m-t-10 m-b-20 light-bold">MEDICAL VISA TO INDIA</div>
            <div class="text-light light-white-color lgTxt">Giving customers 24x7 access to high-quality healthcareBonanza Medical Tourism in India is all about the progress these days.</div>
        </div>
    </div>
    <div class="container">
        <section class="clearfix">
            <div class="row">
                <div class="col-md-12">
					<div class="content">
													<h5 class="bold xlTxt m-b-20">Medical VISA to India- Complete Information</h5>
													<p class="m-b-15 light-bold mdTxt">Bonanza Medical Tourism in India is all about the progress these days. The industry is growing at a rate that was unimaginable for years, some share of credit goes to the government of India for introducing a medical visa for foreign nationals. A visa on arrival system is introduced for a few selected countries which allow the patients to stay for 60 days and get world-class medical treatments in India.<br><br>

Furthermore, two attendants allowed to travel along with the patient for which they have to apply for separate medical attendant visas. The validity of the attendant’s Visa will be the same as for the patient.</p>
													
													
													
													<h5 class="bold xlTxt m-b-20 m-t-20">General Instructions:</h5>
													<p class="m-b-15 light-bold mdTxt">Applicants are required to fill correct information in each column of the e-visa application. The patient is solely responsible for the correctness of every single detail provided by them.<br><br>

Thing to keep in mind before filling out the e-visa application is that the patient should keep all the required documents ready beforehand. A list of important documents for completing the visa application is mentioned next to each type. Further, documents like invitation letters, business cards, etc. must be in the English language, to avoid rejection of the application. The whole process can be rounded up in 10-15 minutes only if the above-mentioned points are kept in mind.

<br><br>

    E-Visa can be divided into 5 sub-categories i.e., e-Medical visa, e-Medical Attendant Medical Visa, e-Conference Visa, e-Tourist Visa, and e-Business Visa. Foreigners applying for a visa except e-Conference Visa are allowed to club activities that fall in the same category. As for foreign applicants opting for e-Conference are permitted to club activities that fall under e-tourist visa only. Note that, only two e-Medical Attendants Visas are permitted on one e-Medical Visa.<br><br>
    Applicants of eligible countries/territories opting for e-Conference, e-Medical, and e-Medical Attendant visa have to apply at least 4 days before their arrival in India with a window of 120 days. For instance, if the applicant is applying on 4th September then he/she gets to select the arrival date from 5th September to 2nd January<br><br>
    Every applicant must upload their front-facing photograph clicked on a white background along with a photo page of the passport. Depending on the type of visa you are applying for, an additional document is supposed to be uploaded along with the above mentioned. It is important to keep in mind that your application can be rejected if your photograph or the uploaded documents aren’t as per the specification.<br><br>
    The e-Visa fees should be paid 4 days before the expected date of travel to avoid cancellation or delay in processing. Another point to note is that the e-Visa fee is territory/country-specific and that an additional 2.5% bank transaction charges are levied on e-Visa fees.<br><br>
    Once the e-visa fees are submitted, it is non-refundable. The same is used for processing the application and is not dependent on the Rejection of Electronic Travel Authorization (ETA) or Grant.<br><br>
    Applicants are requested to carry a copy of Electronic Travel Authorization (ETA) while they are traveling to India. Besides, the applicants should make sure that the ETA status reflects ‘GRANTED’ which can be tracked online by selecting the Visa Status option on the website.<br><br>
    Applicant’s biometric details will be captured at Immigration upon arrival in India.<br><br>
    Another thing to keep in mind is that the e-Visa is nonconvertible, non-extendable and is not valid for entering Cantonment and Protected/Restricted Areas. However, you can request permission from the Civil Authority.<br><br>
    Once you have made the e-Visa payment, the status update may take up to 2 hours which can be due to network delays/technical reasons. If you wish to reapply, it is advised that you wait for at least 2 hours for the payment status update. Further, if you have made the payment but the status is not updated, then you are requested to click the ‘Verify Payment/Pay Visa Fee’ tab or the link Verify Payment.<br><br>
    Travelers from yellow fever affected countries are liable to carry Yellow Fever Vaccination Card upon their arrival in India. In case they fail to do so, they may be quarantined for 6 days on their arrival in India. You can also visit the Ministry of Health &amp; Family Welfare for the latest guidelines issued regarding yellow fever countries.<br><br>

    Make sure you are traveling on the passport for which you have applied for the E-Visa.





</p>







													
													<h5 class="bold xlTxt m-b-20 m-t-20">DOCUMENTS:<br>For e-Medical Visa</h5>
													<p class="m-b-15 light-bold mdTxt">
    Scanned the first page of the passport reflecting the name, photograph and other details*<br>
    Copy of letter on the letterhead from the hospital in India suggesting that the applicant has been advised the treatment on the following date/tentative date.<br>
    Scanned the first page of the passport with the name, photograph, and other details*
 </p>
													
													<h5 class="bold xlTxt m-b-20 m-t-20">Eligibility for Medical Visa Application to India</h5>
													<p class="m-b-15 light-bold mdTxt">The eligibility criteria are well mentioned in the above section for the convenience of applicants. However, the patients who are immigrating to India should keep in mind that their purpose is genuine and is only to receive the best treatment. Due to the same reason, the Indian immigration authorities need the applicants to satisfy the below-mentioned criteria:</p>
													
										
													<p class="m-b-15 light-bold mdTxt">
    Applicants should make sure that they have sought initial medical guidance in their own country and that they are recommended/referred for further treatment in India.<br><br>
    It should be made clear that the application is seeking a specific medical treatment that too from a recognized institution specializing in the same.<br><br>
    Special attention is being provided to the visa applicants in India who are fighting their way with several medical conditions. Patients with serious ailments such as heart problems, organ transplants, neurosurgery, and ophthalmic disorders are always on high priority.
</p>
													
													<h5 class="bold xlTxt m-b-20 m-t-20">Registration for Bangladeshi And Pakistani Nationals</h5>
													<p class="m-b-15 light-bold mdTxt">A medical visa to India can be obtained by nationals of all foreign countries including Sri Lanka, China, Pakistan, and Bangladesh. Patients and attendants traveling from Pakistan and Bangladesh have to make sure that the requirements that are mentioned in Para 106 and Para 118 of the Visa Manual match for citizens of Bangladesh and Pakistan respectively. Furthermore, the citizens of these countries should stand by their date of arrival and departure as per the present policies of their countries. </p>
													
													<h5 class="bold xlTxt m-b-20 m-t-20">To Provide Medical Visa Invitation Letter:</h5>
													<p class="m-b-15 light-bold mdTxt">In order to get visa invitation letter from relevant hospital please send following details on this Email: <br><br>info@bonanzamedicaltourism.com<br>

Medical Reports (Current and Relevant Reports).<br>

Passport Scans of the Patient and the Attendant.</p>
													
													
													
													
													
													
<div class="table-responsive m-t-30">
	<table class="table table-bordered table-striped" cellspacing="0" cellpadding="0" border="1">
		<tbody>
		<tr>
			<th colspan="4">In an alphabetical order, here are the countries / territories whose nationals can opt for e-Visa:</th>
		</tr>
		<tr>
		<th>Alphabets</th>
		<th>Countries</th>
		<th>Alphabets</th>
		<th>Countries</th>
		</tr>
		<tr>
		<td width="124">A</td>
		<td width="345">Azerbaijan, Austria, Australia, Aruba, Armenia, Argentina, Antigua &amp; Barbuda, Anguilla, Angola, Andorra, Albania</td>
		<td width="124">B</td>
		<td width="346">Burundi, Bulgaria, Brunei, Brazil, Botswana, Bosnia &amp; Herzegovina, Bolivia, Belize, Belgium, Barbados, Bahamas</td>
		</tr>
		<tr>
		<td width="124">C</td>
		<td width="345">Czech Republic, Cyprus, Cuba, Croatia, Cote d’lvoire, Costa Rica, Cook Islands, Comoros, Colombia, China- SAR Macau, , China- SAR Hong Kong, China, Chile, Cayman Island, Cape Verde, Canada, Cameron Union Republic, Cambodia</td>
		<td width="124">D</td>
		<td width="346">Dominican Republic, Dominica, Djibouti, Denmark</td>
		</tr>
		<tr>
		<td width="124">E</td>
		<td width="345">Estonia, Eritrea, El Salvador, Ecuador, East Timor</td>
		<td width="124">F</td>
		<td width="346">France, Finland, Fiji</td>
		</tr>
		<tr>
		<td width="124">G</td>
		<td width="345">Guyana, Guinea, Guatemala, Grenada, Greece, Ghana, Germany, Georgia, Gambia, Gabon</td>
		<td width="124">H</td>
		<td width="346">Hungary, Honduras, Haiti</td>
		</tr>
		<tr>
		<td width="124">I</td>
		<td width="345">Italy, Israel, Ireland, Indonesia, Iceland</td>
		<td width="124">J</td>
		<td width="346">Jordan, Japan, Jamaica</td>
		</tr>
		<tr>
		<td width="124">K</td>
		<td width="345">Kiribati, Kenya</td>
		<td width="124">L</td>
		<td width="346">Luxembourg, Lithuania, Liechtenstein, Liberia, Laos, Lesotho, Latvia</td>
		</tr>
		<tr>
		<td width="124">M</td>
		<td width="345">Myanmar, Mozambique, Montserrat, Montenegro, Mongolia, Monaco, Moldova, Micronesia, Mexico, Mauritius, Marshall Islands, Malta, Mali, Madagascar, Malaysia, Malawi</td>
		<td width="124">N</td>
		<td width="346">Norway, Niue Island, Niger Republic, Nicaragua, New Zealand, Nauru, Namibia, Netherlands</td>
		</tr>
		<tr>
		<td width="124">O</td>
		<td width="345">Oman</td>
		<td width="124">P</td>
		<td width="346">Portugal, Poland, Philippines, Peru, Paraguay, Papua New Guinea, Palau, Panama, Palestine</td>
		</tr>
		<tr>
		<td width="124">Q</td>
		<td width="345">–</td>
		<td width="124">R</td>
		<td width="346">Rwanda, Russia, Romania, Republic of Macedonia, Republic of Korea</td>
		</tr>
		<tr>
		<td width="124">S</td>
		<td width="345">Switzerland, Sweden, Swaziland, Suriname, Sri Lanka, Spain, South Africa, Solomon Islands, Slovenia, Singapore, Sierra Leone, Seychelles, Serbia, Senegal, San Marino, Samoa, Saint Christopher and Nevis, Saint Vincent &amp; the Grenadines, Saint Lucia</td>
		<td width="124">T</td>
		<td width="346">Tuvalu, Taiwan, Turks &amp; Caicos Island, Trinidad &amp; Tobago, Tonga, Tanzania, Tajikistan, Thailand</td>
		</tr>
		<tr>
		<td width="124">U</td>
		<td width="345">Uzbekistan, USA, Uruguay, UAE, United Kingdom, Ukraine</td>
		<td width="124">V</td>
		<td width="346">Vietnam, Venezuela, Vatican City-Holy See, Vanuatu</td>
		</tr>
		<tr>
		<td width="124">W</td>
		<td width="345">–</td>
		<td width="124">X</td>
		<td width="346">–</td>
		</tr>
		<tr>
		<td width="124">Y</td>
		<td width="345">–</td>
		<td width="124">Z</td>
		<td width="346">Zimbabwe, Zambia</td>
		</tr>
		</tbody>
	</table>
</div>
												</div>
                </div>
            </div>
        </section>
       
    </div>
</div>


<footer name="footer" ui-view="footer">
    <div id="footerView" class="background">
        <dom-manipulation></dom-manipulation>
        <div ng-if="hideHeaderFooterForMobile &amp;&amp; displayFooter" class="footer container-full">
            <div class="container wrap">
                <div class="row display-flex foot">
                    <div class="pd col-xs-3 col-sm-3">
                        <div class="m-b-10 light-bold smdTxt">Bonanza Care Services</div>
                        <a href="#" title="About MediBuddy Gold"><span >Ashvins e-Pass</span></a>
						
						<a href="/online-doctor-consultation" title="Book Consultation Appointments with trusted Doctors"><span >Doctor Consultation</span></a>
						<a href="/online-doctor-consultation" title="Book Consultation Appointments with trusted Doctors"><span >Bonanza Hope (For Critical Cases)</span></a>
						<a href="/labs/" title="Book online Lab Tests with Home Sample Collection"><span >Book a Lab test</span></a>
						<a href="/labs/" title="Book online Lab Tests with Home Sample Collection"><span >Instant Doctor Opinion</span></a>
							<a href="/labs/" title="Book online Lab Tests with Home Sample Collection"><span >Corporate Wellness Plan</span></a>
								<a href="/labs/" title="Book online Lab Tests with Home Sample Collection"><span >View Your Health Records</span></a>
						
                    </div>
                    <div class="si col-xs-3 col-sm-3">
                        <div class="m-b-10 light-bold smdTxt">Hospitalization</div>
                        <a href="/about-hospitalization" title="Plan your Hospitalization with MediBuddy"><span >Plan hospitalization</span></a><a href="/networkHospitals" title="Network Hospitals covered by each Insurer"><span > Locate hospital</span></a>
                     
                        <a href="https://m.medibuddy.in/intimatereimbursement.aspx" title="Intimate Claim" target="_blank" rel="noopener nofollow"><span >Plan Surgery </span></a><a href="/claim" ng-if="user | isEmpty" title="Track Claim Status"><span > Intimate Claim</span></a><a href="/claim" ng-if="user | isEmpty" title="Track Claim Status"><span > Track claim</span></a><a href="/faq/" title="Frequently Asked Questions"><span > FAQs</span></a>
                    </div>
                    <div class="at col-xs-3 col-sm-3">
                        <div class="m-b-10 light-bold smdTxt">ABOUT BONANZA CARE</div>
                        <a href="/aboutus/" title="hey"><span >Overview</span></a><a href="/testimonials" title="Testimonials"><span > Testimonials</span></a><!-- ngIf: notHideContactus --><a ng-if="notHideContactus" href="/contactus/" title="Contact us - Send your Queries"><span > Contact</span></a><!-- end ngIf: notHideContactus --><a href="#" target="_blank" title="Blog Articles" rel="noopener"><span > Blog</span></a><a href="#" target="_blank" title="Join us" rel="noopener"><span > Careers</span></a><a href="terms.html" target="_blank" title="security"><span > Terms of use</span></a>
                    </div>
                    <div class="si col-xs-3 col-sm-3">
                        <div class="m-b-10 light-bold smdTxt">Bonanza Care Registration</div>
                        <a href="/aboutus/" title="hey"><span >For Doctors</span></a><a href="/testimonials" title="Testimonials"><span > For Patients</span></a><!-- ngIf: notHideContactus --><a ng-if="notHideContactus" href="/contactus/" title="Contact us - Send your Queries"><span > For clinics</span></a><a ng-if="notHideContactus" href="/contactus/" title="Contact us - Send your Queries"><span > For Hospitals</span></a><!-- end ngIf: notHideContactus -->
                    </div>
                    <div ng-class="{'p-l-0 p-r-0 m-t-0':isMobileView}" class="links col-xs-12 col-sm-2 d-flex">
                        
                       <!-- <div class="social d-flex col-3">
                            <span class="label">Download app</span>
                            <a ng-click="appRedirect('FirstFold')" target="_blank" rel="noopener" uib-tooltip="Android" aria-label="Android">
                                <svg version="1.1" id="footer_Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve">
                                    <polygon style="fill:#5CDADD" points="29.53,0 29.53,251.509 29.53,512 299.004,251.509 "></polygon>
                                    <polygon style="fill:#BDECC4" points="369.067,180.547 262.175,119.467 29.53,0 299.004,251.509 "></polygon>
                                    <polygon style="fill:#DC68A1" points="29.53,512 29.53,512 262.175,383.551 369.067,322.47 299.004,251.509 "></polygon>
                                    <path style="fill:#FFCA96" d="M369.067,180.547l-70.063,70.961l70.063,70.961l108.688-62.877c6.288-3.593,6.288-11.677,0-15.27 L369.067,180.547z"></path>
                                </svg>
                            </a>
                            <a ng-click="appRedirect('FirstFold',true)" rel="noopener" uib-tooltip="IOS" aria-label="IOS">
                                <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 291.538 291.538" style="enable-background:new 0 0 291.538 291.538" xml:space="preserve">
                                    <g>
                                        <path style="fill:#fff" d="M188.373,44.308c10.97-11.744,18.39-28.049,16.359-44.308c-15.804,0.564-34.958,9.277-46.302,21.02 c-10.169,10.396-19.072,27.011-16.696,42.951C159.369,65.164,177.385,56.033,188.373,44.308z M222.03,156.593 c-0.337-36.451,28.859-53.958,30.152-54.804c-16.414-24.753-41.977-28.14-51.081-28.522c-21.767-2.285-42.442,13.182-53.493,13.182 c-11.006,0-28.03-12.882-46.083-12.536c-23.733,0.391-45.601,14.211-57.79,36.114C19.081,154.09,37.416,219.363,61.44,255.104 c11.744,17.497,25.727,37.125,44.089,36.415c17.725-0.71,24.407-11.789,45.792-11.789c21.394,0,27.384,11.789,46.101,11.434 c19.045-0.355,31.098-17.834,42.742-35.386c13.473-20.292,19.027-39.938,19.345-40.93 C259.1,214.611,222.421,200.182,222.03,156.593z"></path>
                                    </g>
                                </svg>
                            </a>
                        </div> -->
                      <!--  <div class="  d-flex col-3 "></div> -->
                        <div class="social col-12 text-center ">
                            <span class="label">FOLLOW US</span>
                            <a href=" https://www.facebook.com/BonanzaCare" target="_blank" rel="noopener" uib-tooltip="Facebook" aria-label="Facebook" class="facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1759 -421 16.1 32">
                                    <defs>
                                        <style>.facebook{fill:#385c8e;}</style>
                                    </defs>
                                    <path class="facebook" d="M.5,17H4V31.4a.562.562,0,0,0,.5.6h5.9a.472.472,0,0,0,.5-.5V17.1h4a.472.472,0,0,0,.5-.5l.6-5.3a.6.6,0,0,0-.1-.4.52.52,0,0,0-.4-.2H11V7.4c0-1,.5-1.5,1.6-1.5h3a.472.472,0,0,0,.5-.5V.5a.472.472,0,0,0-.5-.5H11.2A7.681,7.681,0,0,0,6,2,5.351,5.351,0,0,0,4.2,6.9v3.9H.5a.472.472,0,0,0-.5.5v5.2A.472.472,0,0,0,.5,17Z" transform="translate(1759 -421)"></path>
                                </svg>
                            </a>
                            <a href="https://www.linkedin.com/company/bonanza-care/" target="_blank" rel="noopener" uib-tooltip="LinkedIn" aria-label="LinkedIn" class="linkedin">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1826 -424 31.906 31.9">
                                    <defs>
                                        <style>.linkedin{fill:#5082f6;}</style>
                                    </defs>
                                    <g transform="translate(1826 -424)">
                                        <path class="a" d="M7.4,10.3H1a.472.472,0,0,0-.5.5V31.4a.472.472,0,0,0,.5.5H7.4a.472.472,0,0,0,.5-.5V10.8C8,10.5,7.7,10.3,7.4,10.3Z"></path>
                                        <path class="linkedin" d="M4.2,0A4.225,4.225,0,0,0,0,4.2,4.225,4.225,0,0,0,4.2,8.4,4.225,4.225,0,0,0,8.4,4.2,4.1,4.1,0,0,0,4.2,0Z"></path>
                                        <path class="linkedin" d="M23.8,9.7a7.192,7.192,0,0,0-5.6,2.4V10.8a.472.472,0,0,0-.5-.5H11.5a.472.472,0,0,0-.5.5V31.4a.472.472,0,0,0,.5.5h6.4a.472.472,0,0,0,.5-.5V21.2c0-3.4.9-4.8,3.3-4.8,2.6,0,2.8,2.1,2.8,5v10a.472.472,0,0,0,.5.5h6.4a.472.472,0,0,0,.5-.5V20.1C32,15,31,9.7,23.8,9.7Z"></path>
                                    </g>
                                </svg>
                            </a>
                            <a href=" https://twitter.com/bonanzacare" target="_blank" rel="noopener" uib-tooltip="Twitter" aria-label="Twitter" class="twitter">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1909 -418 32.014 26.2">
                                    <defs>
                                        <style>.twitter{fill:#73a1fb;}</style>
                                    </defs>
                                    <path class="twitter" d="M31.3,3l-1.5.6a7.217,7.217,0,0,0,1.4-2.4c.1-.2,0-.4-.2-.6a.638.638,0,0,0-.6,0A17.832,17.832,0,0,1,26.8,2,7.177,7.177,0,0,0,22,0a6.914,6.914,0,0,0-6.9,6.9,2.769,2.769,0,0,0,.1.9A18.107,18.107,0,0,1,3.1,1.4c-.1-.2-.3-.2-.5-.2s-.3.1-.4.3A6.756,6.756,0,0,0,1.3,5,7.266,7.266,0,0,0,2.9,9.5,4.7,4.7,0,0,0,2,8.9a.446.446,0,0,0-.5,0,.55.55,0,0,0-.3.5v.1a6.724,6.724,0,0,0,3.4,5.9.9.9,0,0,1-.5-.1c-.2,0-.4,0-.5.2a.44.44,0,0,0-.1.5,7.013,7.013,0,0,0,5,4.6A12.33,12.33,0,0,1,2,22.5a7.569,7.569,0,0,1-1.5-.1c-.2,0-.5.1-.5.3a.481.481,0,0,0,.2.6,18.767,18.767,0,0,0,10,2.9A17.631,17.631,0,0,0,24,20.1,19.3,19.3,0,0,0,28.8,7.6V7a13.964,13.964,0,0,0,3.1-3.3.637.637,0,0,0,0-.6A.661.661,0,0,0,31.3,3Z" transform="translate(1909.039 -418)"></path>
                                </svg>
                            </a>
                            <a href="#" target="_blank" rel="noopener" uib-tooltip="Blog" aria-label="Blog">
                                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <defs>
                                        <style>.blog1{fill:#010002;}</style>
                                    </defs>
                                    <title>blog</title>
                                    <path class="blog1" d="M227.21,227.2v6.13A25.88,25.88,0,0,1,253,259.2h6.16A32,32,0,0,0,227.21,227.2Z" transform="translate(-227.2 -227.2)"></path>
                                    <path class="blog1" d="M227.2,238.07v6.13a15,15,0,0,1,15,15h6.16A21.15,21.15,0,0,0,227.2,238.07Z" transform="translate(-227.2 -227.2)"></path>
                                    <path class="blog1" d="M231.46,250.66a4.25,4.25,0,1,0,4.26,4.25A4.26,4.26,0,0,0,231.46,250.66Z" transform="translate(-227.2 -227.2)"></path>
                                </svg>
                            </a>
                          <a href="https://www.youtube.com/channel/UCSrr1PAxg-yPbFlC7Ly8KNQ" target="_blank" rel="noopener" uib-tooltip="Blog" aria-label="youtube" style="width: 35px;">  <img  src="images/youtube.png" ></a>
                           <a href="https://www.instagram.com/bonanzacare/" target="_blank" rel="noopener" uib-tooltip="Blog" aria-label="insta" style="width: 30px;">  <img  src="images/insta.png" ></a>
                        </div>
                        <!-- ngIf: !isMobileView -->
                        
                        <!-- end ngIf: !isMobileView -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end ngIf: hideHeaderFooterForMobile && displayFooter -->
    </div>
</footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/custom.js" type="text/javascript" charset="utf-8"></script>


</body>
</html>